.LeftRender {
  .backIcon {
    font-size: 12px;
  }
  .title {
    font-size: 20px;
    cursor: pointer;
  }
}
.toolbar {
  :global {
    .ant-pro-table-list-toolbar-container {
      padding-block: 0 16px;
    }
  }
}
.footer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(175, 193, 221, 0.26) 10px 0px 32px;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
}
